<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans https://www.springframework.org/schema/beans/spring-beans-4.3.xsd">
<bean id="drds" class="org.springframework.jdbc.datasource.DriverManagerDataSource" abstract="true">
<property name="driverClassName" value="oracle.jdbc.OracleDriver"></property>
<property name="url" value="jdbc:oracle:thin:@localhost:1521:xe"></property>

</bean>

<bean id="scds1" class="org.springframework.jdbc.datasource.SingleConnectionDataSource" parent="drds">
<property name="connectionProperties">
<props merge="true">
<prop key="user">SYSTEM</prop>
</props>
</property>
</bean>

<bean id="scds2" class="org.springframework.jdbc.datasource.SingleConnectionDataSource" parent="scds1">
<property name="connectionProperties">
<props merge="true">
<prop key="password">manager</prop>
</props>
</property>
</bean>

<bean id="studentDAO" class="com.nt.dao.StudentDAOImpl">
<constructor-arg ref="scds2"></constructor-arg>
</bean>

<bean id="schoolService" class="com.nt.service.SchoolServiceMgmtImpl">
<constructor-arg ref="studentDAO"></constructor-arg>
</bean>
<bean id="controller" class="com.nt.controller.MainController">
<constructor-arg ref="schoolService"></constructor-arg>
</bean>
</beans>
