<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans https://www.springframework.org/schema/beans/spring-beans-4.3.xsd">

<bean id="clgDAO" class="com.nt.dao.CollegeDAOImpl"></bean>

<bean id="stdBO" class="com.nt.bo.StudentBO" scope="prototype"></bean>
<bean id="empBO" class="com.nt.bo.EmployeeBO" scope="prototype" ></bean>

<bean id="clgImpl" class="com.nt.service.CollegeMGMTserviceImpl">
<constructor-arg ref="clgDAO"></constructor-arg>
<lookup-method name="createStudentBO" bean="stdBO" />
<lookup-method name="createEmployeeBO" bean="empBO" />   
</bean>

<bean class="com.nt.bpp.DOJBeanPostProcessor"></bean>
</beans>
