<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
<bean id="ep1" class="com.nt.bean.Employee" abstract="true">
<property name="emp">
<list>
<value>hari</value>
<value>rama</value>
</list>
</property>
</bean>

<bean id="ep2" class="com.nt.bean.Employee" parent="ep1">
<property name="emp">
<list merge="true">
<value>pk</value>
<value>bbmp</value>
</list>
</property>
</bean>

</beans>
